<div class="slide-inner">
  <h2>Iteration Journey | What happened since early 2025:</h2>

  <div class="steps">
   
    <div class="step">
      <div class="step-num">IV</div>
      <div class="step-content">
        <h4>Workshop with WMO and CNR in Italy - multi tenant public cluster setup</h4>
        
        <div style="margin-top:6px;">
          <ul>
            <li>online kubernetes cluster</li>
            <li>pre installed applications and platforms for data science and development</li>
            <li>ready to use notebooks and dependencies for fast prototyping of data schemas</li>
            <li>integrated water quality management tools like qgis packages and mqtt endpoints</li>
            <li>WMO partner api connection scripts</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="step">
      <div class="step-num">V</div>
      <div class="step-content">
        <h4>Prototyping Phase</h4>
        <p>Recognized bottlenecks → development process is highly inefficient per organization. Recurring problems
          needed automation:</p>
        <ul style="font-size:14px;margin-top:4px;">
          <li>Versioning and setup of code base</li>
          <li>Individual configuration based on environment</li>
          <li>Reusable code templates, dependencies, documentation, standards, processes</li>
        </ul>
      </div>
    </div>
  </div>
</div>