<style>
.icon-logo
  {
      font-size: 30px;
      -webkit-transform: scaleX(-1);
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      transform: scaleX(-1);
      display: inline-block;
  }
</style>
<div class="slide-inner">
<h2>Core Framework Resources</h2>

<div class="tech-stack" style="font-size: x-large;">
  <div class="tech-item"><div class="tech-name">1</div><div class="tech-desc">Django Project</div></div>
  <div class="tech-item"><div class="tech-name">2</div><div class="tech-desc">Models &amp; ORM</div></div>
  <div class="tech-item"><div class="tech-name">3</div><div class="tech-desc">Serializers</div></div>
  <div class="tech-item"><div class="tech-name">4</div><div class="tech-desc">ViewSets</div></div>
  <div class="tech-item"><div class="tech-name">5</div><div class="tech-desc">REST Routes</div></div>
  <div class="tech-item"><div class="tech-name">7</div><div class="tech-desc">Unit Tests</div></div>
  <div class="tech-item"><div class="tech-name">7</div><div class="tech-desc">Management Commands</div></div>
  <div class="tech-item"><div class="tech-name">7</div><div class="tech-desc">Settings</div></div>
</div>
<div class="tech-stack" style="font-size: x-large;">
  <div class="tech-item"><div class="tech-name">7</div><div class="tech-desc">Forgejo: Git Platform</div></div>
  <div class="tech-item"><div class="tech-name">6</div><div class="tech-desc">OpenAPI Swagger</div></div>

</div>
<div class="tech-stack" style="font-size: x-large;">
  <div class="tech-item"><div class="tech-name">1</div><div class="tech-desc">Python</div></div>
  <div class="tech-item"><div class="tech-name">2</div><div class="tech-desc">Docker &amp; ORM</div></div>
  <div class="tech-item"><div class="tech-name">3</div><div class="tech-desc">Kubernetes</div></div>
  <div class="tech-item"><div class="tech-name">3</div><div class="tech-desc">Argocd</div></div>
</div>

<h3>Custom PyPI Packages</h3>
<p style="line-height:2.2;">
  <a href="https://pypi.org/project/django-sensorthings/" target="_blank"><code>django-sensorthings</code></a> &nbsp;→&nbsp;
  <a href="https://pypi.org/project/django-hydrosheds/" target="_blank"><code>django-hydrosheds</code></a> &nbsp;→&nbsp;
  <a href="https://pypi.org/project/django-ct-ontology/" target="_blank"><code>django-ct-ontology</code></a>
</p>

</div>
