{% extends "rest_framework/admin.html" %}
{% load static %}
{# Override this template in your own templates directory to customize #}

{% block style %}
    {% block bootstrap_theme %}
        <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap.min.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap-tweaks.css" %}"/>
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/prettify.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/default.css" %}"/>
    {% if code_style %}<style>{{ code_style }}</style>{% endif %}
    <style>
    .navbar{
        background-color: black;
        border-top: black;
    }
    </style>
    {% endblock %}

{% block branding %}
<a class='navbar-brand' rel="nofollow" href="/">Interface</a>
<a class='navbar-brand' rel="nofollow" href="/api/swagger">OpenAPI</a>
<a class='navbar-brand' rel="nofollow" href="/admin">Admin</a>
{% endblock branding %}

{% block title %}
API | Admin | Monotremata
{% endblock %}